{# templates/emails/mail.html.twig #}
<pre>
Bonjour {{ name }},

La vulnérabilité <b>{{ vd.vulnerability.description }}</b> sur la machine <b>{{ vd.asset.ip }}</b> vous a été affectée.

Veuillez suivre ce lien pour en faire le suivi: <a href="http://localhost:8000/vulnerabilitydetected/edit/{{ pview }}/{{ vd.id }}">{{ vd.vulnerability.description }}</a>

Si vous avez des questions, veuillez envoyer un courriel à <i>{{contact}}</i>
</pre>
