{# templates/emails/mail.html.twig #}
<pre>
Bonjour {{ name }},

Le dossier de scan <b>{{ det.sourceName }}</b> vous a été affecté.

Veuillez suivre ce lien pour en faire le suivi: <a href="http://localhost:8000/detection/view/{{ det.id }}">{{ det.sourceName }}</a>

Si vous avez des questions, veuillez envoyer un courriel à <i>{{contact}}</i>
</pre>
