{# ressources/VulnerabilityDetected/modify.html.twig #}

{% extends "base.html.twig" %}

{% block title %}
    Assign all scan detections
{% endblock %}

{% block vuln_body %}

{# Array of persons #}
{% set persons = personsList %}

<style type="text/css">
   .title2 {
       color: #696363;
       font-family: sans-serif;
       font-size: 26px;
       font-weight: bold;
       display: block;
       border-bottom: 1px solid;
       border-bottom-color: #837c7c;
       margin-left: 1.5em;
       margin-top: 1.2em;
   }
   .title3 {
       color: #514d4d;
   }
   .sp1 {
       display:inline-block;
       width:50%;
       padding-top:1px;
       margin-left: 2.5em;
       color: #514d4d;
   }
   .txtar1 {
       resize: none;
       height: 7em;
       width: 75%;
   }
   .acthist {
       width: 75%;
       height: 20em;
       overflow-y: auto;
       background: #f1f1f1;
       padding: 10px;
   }

</style>

<h1 class="title2">
    Assign all scan detections
</h1>
<div>
    <span class="sp1">
        <form name="form1" action="{{ path('assignView', {'id': detectionId}) }}" method="get">
            <h3 class="title3">Assign to</h3>
            <select id="person" name="person" style="width: 15em;">
                <option value="0" selected></option>
                {% for person in persons %}
                    <option value="{{person.p_id}}">{{person.p_firstName}} {{person.p_lastName}}</option>
                {% endfor %}
            </select>
            <br>
            <h3 class="title3">Options</h3>
            <input type="radio" id="cvss" name="cvss" value="critical" checked="checked"> Critical detections only <br>
            <input type="radio" id="cvss" name="cvss" value="high"> High detections and over only <br>
            <input type="radio" id="cvss" name="cvss" value="all" onclick="warningExecTime()"> All
            <br><br><input type="submit" value="Update" style="width: 7em; float: left;"/>
        </form>
        <form action="{{ path('detectionPage') }}" method="post">
            <input type="hidden" id="cancel" name="cancel" value="1"/>
            <input type="submit" value="Cancel" style="width: 7em;"/>
        </form>
    </span>
</div>
<script>
function warningExecTime()
{
    alert('Selecting this option might make the page load for a long time. You will be redirected to the previous page when and if the update is successful.');
}
</script>
{% endblock %}
