{# ressources/Detection/index.html.twig #}

{% extends "base.html.twig" %}

{% block title %}
    Scans List
{% endblock %}

{% block vuln_body %}
<style>
    [data-toggle="toggle"] {
        display: none;
    }
</style>
    <table id="listDetection" class="display nowrap" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Scan name</th>
            <th>Last Execution</th>
            <th>Method</th>
            <th>Critical Vuln</th>
            <th>Major Vuln</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <!--début de la boucle-->
        {% for key, detection in detections %}
            <tr>
                {# Conditions pour sous-listes #}
                {% if key != 0 %}
                    {% if ((detections[key]).sourcename) == ((detections[key - 1]).sourcename) %}
                        <td>{{ detections[key].sourcename }}*</td>
                    {% else %}
                        <td>{{ detection.sourcename }}</td>
                    {% endif %}
                {% else %}
                    <td>{{ detection.sourcename }}$</td>
                {% endif %}

                {# Reste du tableau #}
                <td>{{ detection.dateExecution | date("Y/m/d") }}</td>
                {% if detection.method is not null %}
                    <td>{{ detection.method }}</td>
                {% else %}
                    <td>Unknown</td>
                {% endif %}
                <td>{{ detection.critical }}</td>
		            <td>{{ detection.medium }}</td>
                <td>
                    <a href="{{ path('assignView', {'id': detection.id}) }}" class="bt-table" title="Affecter" data-hover="tooltip"><span class="glyphicon glyphicon-pencil" style="color: #6a6a6a;"></span></a>
                    <a href="{{ path('detectionView', {'id': detection.id}) }}" class="bt-table" title="Plus de détails" data-hover="tooltip"><span class="glyphicon glyphicon-search" style="color: #6a6a6a;"></span></a>
                </td>
            </tr>
            <!--fin de la boucle-->
        {% endfor %}

        </tbody>
    </table>
<script>

</script>
{% endblock %}
