{# ressources/Detection/index.html.twig #}

{% extends "base.html.twig" %}

{% block title %}
    Scans List - {{ parent() }}
{% endblock %}

{% block vuln_body %}
    <table id="listDetection" class="display nowrap" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Scan name</th>
            <th>Last Execution</th>
            <th>Method</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>

        <!--début de la boucle-->
        {% for detection in detections %}
            <tr>
                <td>{{ detection.sourcename }}</td>
                <td>{{ detection.dateExecution | date("Y/m/d") }}</td>
                {% if detection.method is not null %}
                    <td>{{ detection.method }}</td>
                {% else %}
                    <td>Unknown</td>
                {% endif %}
                <td>
                    <a href="{{ path('app_detection_view', {'id': detection.id}) }}" class="bt-table" title="Plus de détails" data-hover="tooltip"><span class="glyphicon glyphicon-search"></span></a>
                </td>
            </tr>
            <!--fin de la boucle-->
        {% endfor %}

        </tbody>
    </table>

{% endblock %}
