{# ressources/Detection/index.html.twig #}

{% extends "base.html.twig" %}

{% block title %}
    Scans List - {{ parent() }}
{% endblock %}

{% block vuln_body %}
    <table id="listDetection" class="display nowrap" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Scan name</th>
            <th>Last Execution</th>
            <th>Method</th>
            <th>Critical Vuln</th>
            <th>Major Vuln</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% set i = 1 %}

        <!--début de la boucle-->
        {% for detection in detections %}
            <tr>
                <td>{{ detection.sourcename }}</td>
                <td>{{ detection.dateExecution | date("Y/m/d") }}</td>
                {% if detection.method is not null %}
                    <td>{{ detection.method }}</td>
                {% else %}
                    <td>Unknown</td>
                {% endif %}
                <td>
		{% if stats.i is not defined %}
	                    0
			</td>
	                <td>
			0
			</td>
		{% else %}
			{{ stats.i.0 }}
			</td>
                	<td>
                    	{{ stats.i.1 }}
                	</td>
		{% endif %}
                {% set i = i + 1 %}
                <td>
                    <a href="{{ path('app_detection_view', {'id': detection.id}) }}" class="bt-table" title="Plus de détails" data-hover="tooltip"><span class="glyphicon glyphicon-search"></span></a>
                </td>
            </tr>
            <!--fin de la boucle-->
        {% endfor %}

        </tbody>
    </table>

{% endblock %}
