{# ressources/Detection/index.html.twig #}

{% extends "base.html.twig" %}

{% block title %}
    Scan detail
{% endblock %}

{% block vuln_body %}
<style type="text/css">
    .title2 {
        color: #696363;
        font-family: sans-serif;
        font-size: 26px;
        font-weight: bold;
        display: block;
        border-bottom: 1px solid;
        border-bottom-color: #837c7c;
        padding-bottom: 3px;
        margin-top: 1.2em;
    }
</style>

<h1 class="title2">
    {{ detection.sourceName }}


    <a href="{{ path('detectionExport', {'id': detection.id}) }}" class="btn btn-primary">
        <i class="glyphicon glyphicon-floppy-save"></i>
        Exporter en XLS
    </a>
</h1>
<table id="listDetectionDetail" class="display nowrap" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th>Vulnerability</th>
        <th>Asset</th>
        <th>Detection Date</th>
        <th>Port</th>
        <th>CVSS</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>

    <!--début de la boucle-->
    {% for vulnerability in vulnerabilities %}
        <tr>
            <td title="{{ vulnerability.vulnerability.description }}"> {# For tooltip prompt on hover #}
                {% if (vulnerability.vulnerability.description|length < 100) %}
                    {{ vulnerability.vulnerability.description }}
                {% else %}
                    {{ vulnerability.vulnerability.description[:100]}}...
                {% endif %}
            </td>
            <td>{{ vulnerability.asset.ip }}</td>
            <td style="text-indent: 0.5em;">{{ vulnerability.date_created | date("Y/m/d") }}</td>
            <td>{{ vulnerability.port }}</td>
            {% if vulnerability.vulnerability.cvss is not null %}
                <td>{{ vulnerability.vulnerability.cvss }}</td>
            {% else %}
                <td>0</td>
            {% endif %}
            {% if (vulnerability.status.id == 1) %}
                <td style="background: #b37e4d; color: white;"> {# Open e89f19 #b37e4d #}
            {% elseif (vulnerability.status.id == 2) %}
                <td style="background: #4c5d4c; color: white;"> {# Close 406a40 #4c5d4c #}
            {% elseif (vulnerability.status.id == 3) %}
                <td style="background: #933; color: white;"> {# Re-Open CC0000 #933 #}
            {% elseif (vulnerability.status.id == 4) %}
                <td style="background: #637963; color: white;"> {# Affected 538A53 #637963 #}
            {% endif %}
                {{ vulnerability.status.name }}
            </td>
            <td>
                <a href="{{ path('addRemediation', {'view': detectionId, 'id': vulnerability.id}) }}" class="bt-table" title="Ajouter remediation" data-hover="tooltip"><span class="glyphicon glyphicon-cog" style="color: #6a6a6a;"></span></a>
                <a href="{{ path('app_vulnerabilitydetected_edit', {'view': detectionId, 'id': vulnerability.id}) }}" class="bt-table" title="Modifier" data-hover="tooltip"><span class="glyphicon glyphicon-pencil" style="color: #6b6b6b;"></span></a>
                <a href="{{ path('app_vulnerability_view', {'id': vulnerability.vulnerability.id}) }}" class="bt-table" title="Plus de détails" data-hover="tooltip"><span class="glyphicon glyphicon-search" style="color: #6a6a6a;"></span></a>
            </td>
        </tr>
        <!--fin de la boucle-->
    {% endfor %}

    </tbody>
</table>

{% endblock %}
