{# ressources/Report/index.html.twig #}

{% extends "base.html.twig" %}

{% block title %}
    Monthly report
{% endblock %}

{% block vuln_body %}

<style type="text/css">
    .title2 {
        color: #696363;
        font-family: sans-serif;
        font-size: 26px;
        font-weight: bold;
        display: block;
        border-bottom: 1px solid;
        border-bottom-color: #837c7c;
        margin-left: 1.5em;
        margin-top: 1.2em;
    }
    .dateform {
        color: #514d4d;
        display: block;
        margin-left: 2.6em;
        margin-top: 1em;
    }
    .formdisplay {
        width: 25em;
        height: 20em;
        margin-top: 1.2em;
        /*padding: 0.2em;*/
    }
</style>

<h1 class="title2">
    Monthly report
</h1>
{{ month }}
{{ year }}
{% set highs = 0 %}
{% set crits = 0 %}
{# Hosts with critical vulnerability #}
{% for host in hosts_critical %}
    {% set crits = crits + 1 %}
{% endfor %}
{# Hosts with high vulnerability #}
{% for host in hosts_high %}
    {% set highs = highs + 1 %}
{% endfor %}

{# Détails du rapport ici#}
<div class="dateform">
    <form action="{{ path('reportPage') }}" method="post">
        Date:
        <select id="month" name="month">
            <option value="1">January</option>
            <option value="2">Febuary</option>
            <option value="3">Mars</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12" id="test1">December</option>
        </select>
        <script>
            var m = document.getElementById("month");
            m.options["test1"].selected = true;
        </script>
        <select id="year" name="year"></select>
        <script>
            var start = 2017;
            var end = new Date().getFullYear();
            var options = "";
            for(var year = start ; year <=end; year++)
            {
                options += "<option>" + year + "</option>";
            }
            document.getElementById("year").innerHTML = options;
        </script>
        <input type="submit" value="Search">
    </form>
    <div class="formdisplay">
        <ul>
          <li> Hosts with high vulnerability: {{highs}} </li>
          <li> Hosts with critical vulnerability: {{crits}} </li>
        </ul>
    </div>
</div>

{% endblock %}
