{# ressources/Report/index.html.twig #}

{% extends "base.html.twig" %}

{% block title %}
    Monthly report
{% endblock %}

{% block vuln_body %}

<style type="text/css">
    .title2 {
        color: #696363;
        font-family: sans-serif;
        font-size: 26px;
        font-weight: bold;
        display: block;
        border-bottom: 1px solid;
        border-bottom-color: #837c7c;
        margin-left: 1.5em;
        margin-top: 1.2em;
    }
    .dateform {
        color: #514d4d;
        display: block;
        margin-left: 2.6em;
        margin-top: 1em;
    }
    .formdisplay {
        width: 30em;
        height: 20em;
        margin-top: 1.2em;
        /*padding: 0.2em;*/
    }
</style>

<h1 class="title2">
    Monthly report
</h1>

{# Déclarations #}
{% set highHosts = 0 %}
{% set critHosts = 0 %}
{% set highDetections = 0 %}
{% set critDetections = 0 %}
{% set highUniques = 0 %}
{% set critUniques = 0 %}
{% set highOld = 0 %}
{% set critOld = 0 %}

{# Hosts with critical vulnerability #}
{% for host in hosts_critical %}
    {% set critHosts = critHosts + 1 %}
{% endfor %}

{# Hosts with high vulnerability #}
{% for host in hosts_high %}
    {% set highHosts = highHosts + 1 %}
{% endfor %}

{# Number of unique high vulnerabilities #}
{% set highDetections = detections_high %}

{# Number of unique critical vulnerabilities #}
{% set critDetections = detections_critical %}

{# Number of unique high vulnerabilities #}
{% set highUniques = uniques_high %}

{# Number of unique critical vulnerabilities #}
{% set critUniques = uniques_critical %}

{# High vulnerabilities published 1 year before detection #}
{% set highOld = old_high %}

{# Critical vulnerabilities published 1 year before detection #}
{% set critOld = old_critical %}

{# New high vulnerabilities count from previous month #}
{% set highNew = new_high %}

{# New critical vulnerabilities count from previous month #}
{% set critNew = new_critical %}

{# New high detections count from previous month #}
{% set highVDNew = new_highvd %}

{# New high detections count from previous month #}
{% set critVDNew = new_critvd %}

{# New high detections count from previous month #}
{% set highVDNewOpened = new_openhighvd %}

{# New high detections count from previous month #}
{% set critVDNewOpened = new_opencritvd %}

{# Month received from the form #}
{% set m = month %}

{# Year received from the form #}
{% set y = year %}

{# Détails du rapport ici#}
<div class="dateform">
    <form action="{{ path('reportPage') }}" method="get">
        Date:
        <select id="month" name="month">
            <option value="1">January</option>
            <option value="2">Febuary</option>
            <option value="3">Mars</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
        </select>
        <script>
            var m = document.getElementById("month");
            m.options[{{ month }} - 1].selected = true;
        </script>
        <select id="year" name="year"></select>
        <script>
            var start = 2016;
            var end = new Date().getFullYear();
            var options = "";
            var y = document.getElementById("year");
            for(var year = start ; year <=end; year++)
            {
                if (year == {{ year }})
                {
                    options += "<option selected>" + year + "</option>";
                }
                else
                {
                    options += "<option>" + year + "</option>";
                }
            }
            y.innerHTML = options;
        </script>
        <input type="submit" value="Search">
    </form>
    <div class="formdisplay">
        <ul>
          <li> Hosts with high vulnerability: {{highHosts}} </li>
          <li> Hosts with critical vulnerability: {{critHosts}} </li>
          <br>
          <li> Total detections for high vulnerabilities: {{highDetections}} </li>
          <li> Total detections for critical vulnerabilities: {{critDetections}} </li>
          <br>
          <li> Number of unique high vulnerabilities: {{highUniques}} </li>
          <li> Number of unique critical vulnerabilities: {{critUniques}} </li>
          <li> High vulnerabilities published at least 1 year before detection: {{highOld}} </li>
          <li> Critical vulnerabilities published at least 1 year before detection: {{critOld}} </li>
          <br>
          <li> <a href="view?month={{m}}&year={{y}}&severity=3" style="color: #514d4d;"><span class="glyphicon glyphicon-th-list" style="color: #514d4d; font-size: 12px;"></span>
              New high vulnerabilities from previous month
              (<script>
                  if({{ month }} == 1)
                  {
                      document.write(document.getElementById("month")[11].innerHTML);
                  }
                  else
                  {
                      document.write(document.getElementById("month")[{{ month - 2}}].innerHTML);
                  }
              </script>): {{ highNew }} </a></li>
          <li> <a href="view?month={{m}}&year={{y}}&severity=4" style="color: #514d4d;"><span class="glyphicon glyphicon-th-list" style="color: #514d4d; font-size: 12px;"></span>
              New critical vulnerabilities from previous month
              (<script>
                  if({{ month }} == 1)
                  {
                      document.write(document.getElementById("month")[11].innerHTML);
                  }
                  else
                  {
                      document.write(document.getElementById("month")[{{ month - 2}}].innerHTML);
                  }
              </script>): {{ critNew }} </b></a></li>
          <br>
          <li> <a href="viewdetailed?month={{m}}&year={{y}}&severity=3" style="color: #514d4d;"><span class="glyphicon glyphicon-th-list" style="color: #514d4d; font-size: 12px;"></span>
              New high detections from previous month
              (<script>
                  if({{ month }} == 1)
                  {
                      document.write(document.getElementById("month")[11].innerHTML);
                  }
                  else
                  {
                      document.write(document.getElementById("month")[{{ month - 2}}].innerHTML);
                  }
              </script>): {{ highVDNew }} </a></li>
          <li> <a href="viewdetailed?month={{m}}&year={{y}}&severity=4" style="color: #514d4d;"><span class="glyphicon glyphicon-th-list" style="color: #514d4d; font-size: 12px;"></span>
              New critical detections from previous month
              (<script>
                  if({{ month }} == 1)
                  {
                      document.write(document.getElementById("month")[11].innerHTML);
                  }
                  else
                  {
                      document.write(document.getElementById("month")[{{ month - 2}}].innerHTML);
                  }
              </script>): {{ critVDNew }} </a></li>
              <br>
              <li> New high detections currently opened: {{highVDNewOpened}}</li>
              <li> New critical detections currently opened: {{critVDNewOpened}}</li>
        </ul>
    </div>
</div>

{% endblock %}
