{# ressources/Detection/index.html.twig #}

{% extends "base.html.twig" %}

{% block title %}
    New vulnerabilities
{% endblock %}

{% block vuln_body %}
    <table id="listReportView" class="display nowrap" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Vulnerability</th>
            <th>CVSS</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>

        <!--début de la boucle-->
        {% for vulnerability in vulnerabilities %}
            <tr>
                <td title="{{ vulnerability.v_description }}"> {# For tooltip prompt on hover #}
                    {% if (vulnerability.v_description|length < 100) %}
                        {{ vulnerability.v_description }}
                    {% else %}
                        {{ vulnerability.v_description[:100]}}...
                    {% endif %}
                </td>
                {% if vulnerability.v_cvss is not null %}
                    <td>{{ vulnerability.v_cvss }}</td>
                {% else %}
                    <td>0</td>
                {% endif %}
                <td>
                    <a href="{{ path('app_vulnerability_view', {'id': vulnerability.v_id}) }}" class="bt-table" title="Plus de détails" data-hover="tooltip"><span class="glyphicon glyphicon-search" style="color: #6a6a6a;"></span></a>
                </td>
            </tr>
            <!--fin de la boucle-->
        {% endfor %}

        </tbody>
    </table>

{% endblock %}
